@font-face {
    font-family: 'segoe';
    src: url(../fonts/Segoi_UI/Segoe\ UI.ttf);
}

:root {
    --ff-segoe: 'segoe', 'sans-serif';
    --White: #fff;
    --Light-Grey: #FAF9FD;
    --Mid-Grey: #E9E6F5;
    --Purple: #8661C5;
    --Light-Purple: #D59DFF;
    --Dark-purple: #3B2E58;
    --Black: #000;
    --T-color-normal: #2E2E2E;
    --Links: #0067B8;
    /* FONT-SIZES  */
    --fs-sm: 18px;
    --fs-md: 22.5px;
    --fs-lg: 35.16px;
}

* {
    text-decoration: none !important;
    box-sizing: border-box !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
    margin-bottom: 0;
}

nav {
    position: relative;
    z-index: 2;
    padding: 28px 25px;
    background: linear-gradient(90deg, #3B2E58 0%, #8661C5 100%);
}

nav a {
    margin-right: 65px;
    color: var(--White, #FFF);
    font-family: var(--ff-segoe);
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 148.008%;
}

nav a:last-child {
    margin-right: 0;
}

.hero-img-container {
    position: relative;
    width: 50%;
    z-index: 1;
}

.hero-img-container.left {
    margin-top: -20px;
    background: url(../images/hero-section-img-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section-on-top-container {
    position: relative;
    border-radius: 4.659px;
    width: 80%;
    height: 80%;
    box-shadow: 3.72705px 3.72705px 16.77172px 0px rgba(0, 0, 0, 0.70);
    z-index: 1;
    padding: 147px 160px 190px 53px;
}

.section-1-description {
    width: 50%;
}

.hero-section-on-top-container::before {
    position: absolute;
    content: "";
    background: var(--Purple);
    border-radius: 4.659px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    color: var(--Light-Grey);
    font-family: var(--ff-segoe);
    font-size: 76.042px;
    font-weight: 600;
    opacity: 1;
}

.menu a:hover {
    -webkit-text-stroke: 1px var(--White);
}

.hero-button {
    color: var(--Dark-Purple, #3B2E58);
    text-align: center;
    font-family: var(--ff-segoe);
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: normal;
    padding: 14px 42px;
    margin-top: 36px;
    border-radius: 5px;
    background: var(--Mid-Grey, #E9E6F5);
    border-color: transparent;
    transition: all 300ms;
    white-space: nowrap;
}

.hero-button:hover {
    color: var(--Mid-Grey);
    background: var(--Dark-purple);
}

#section-1 {
    background: var(--Mid-Grey, #E9E6F5);
    padding: 93px 0;
}

.section-heading {
    color: var(--Dark-Purple, #3B2E58);
    text-align: center;
    font-family: var(--ff-segoe);
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: normal;
}

.section-text-style {
    color: var(--T-color-normal);
    font-family: var(--ff-segoe);
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 148.008%;
}

.section-1-para {
    margin-top: 25px;
}

.section-1-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.mt-33 {
    margin-top: 33px;
}

#section-2 {
    padding: 45px 0px 145px 0px;
}

.section-2-cards {
    width: 32.5%;
    padding: 62px 0px 8px 0px;
    border-bottom: 1px solid black;
    position: relative;
}

.plus-svg {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.section-2-cards-heading {
    color: var(--Black, #000);
    font-family: var(--ff-segoe);
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: normal;
}

.section-2-cards-img-container {
    margin-top: 16px;
}

.mt-22 {
    margin-top: 22px;
}

#section-3 {
    background: var(--Mid-Grey, #E9E6F5);
    padding-top: 42px;
    padding-bottom: 63px;
}

.section-3-description {
    gap: 20px;
    width: 50%;
}

.section-3-subheading {
    color: var(--Black, #000);
    text-align: center;
    font-family: var(--ff-segoe);
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: normal;
}

.section-3-img {
    width: 60%;
    margin-top: 44px;
}

.section-3-button {
    border-radius: 5px;
    background: var(--Light-Purple, #D59DFF);
    padding: 14px 42px;
    color: var(--Light-Grey, #FAF9FD);
    text-align: center;
    font-family: var(--ff-segoe);
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: normal;
    border-color: transparent;
    transition: all 300ms;
}

.section-3-button:hover {
    background: var(--Purple);
}

.mt-60 {
    margin-top: 60px;
}

#section-4 {
    padding-top: 55px;
    padding-bottom: 84px;
}

.section-4-para {
    margin-top: 25px;
}

.section-4-description {
    width: 50%;
}

.section-4-row {
    margin-top: 47px;
    gap: 16px;
}

.section-4-cards {
    margin-top: 16px;
    width: 15.83%;
    box-shadow: 0px 3.076772689819336px 7.69193172454834px rgba(0, 0, 0, 0.25);
    border-radius: 7.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 173px;
    transition: all 300ms;
    pointer-events: all;
    cursor: pointer;
}

.section-4-cards:hover {
    transform: scale(1.05);
}

.section-4-button-row {
    margin-top: 118px;
    justify-content: space-around;
}

.section-4-buttons {
    width: 30%;
    padding: 10px 41px;
    border-radius: 5px;
    background: var(--Light-Purple, #D59DFF);
    color: var(--Light-Grey, #FAF9FD);
    text-align: center;
    font-family: var(--ff-segoe);
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: normal;
    border-color: transparent;
    transition: all 300ms;
}

.section-4-buttons:hover {
    background: var(--Purple);
}

#section-5 {
    background: #E9E6F5;
    padding-top: 82px;
    padding-bottom: 79px;
}

.slider {
    margin-top: 53px;
}

.slide-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slide {
    width: 80%;
    padding: 11.46px 8.29px;
    display: flex;
    justify-content: center;
    border-radius: 6.621px;
    border: 2.143px solid var(--Dark-Purple, #3B2E58);
    background: var(--White, #FFF);
}

.slide-left,
.slide-right {
    width: 50%;
}

.slide-left {
    height: 712px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 38px 0 34px;
}

.slide-right li {
    margin-top: 19px;
}

.slide-img-1 {
    background: url(../images/slider-1.png);
}

.slide-img-2 {
    background: url(../images/slider-2.png);
}

.slide-img-3 {
    background: url(../images/slider-3.png);
}

.slide-img-4 {
    background: url(../images/slider-4.png);
}

.slide-right>ul {
    margin-bottom: 19px;
}

.slider-link {
    color: var(--Links, #0067B8);
    font-family: var(--ff-segoe);
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 139.023%;
    text-decoration-line: underline !important;
}

.slider-on-top-container {
    border-radius: 3.144px;
    box-shadow: 2.51517px 2.51517px 11.31828px 0px rgba(0, 0, 0, 0.70);
    position: relative;
    z-index: 1;
    padding: 70px 9px;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-on-top-container::before {
    position: absolute;
    content: "";
    background: var(--Purple, #8661C5);
    opacity: 0.7;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 3.144px;
    top: 0;
    left: 0;
}

.slider-on-top-text {
    color: var(--Light-Grey, #FAF9FD);
    text-align: center;
    font-family: var(--ff-segoe);
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: normal;
}

.slider-wrapper {
    position: relative;
    height: 100% !important;
}

.slider-prev-button,
.slider-next-button {
    position: absolute;
    transform: translate(0, -100%);
    cursor: pointer;
}

.slider-prev-button:hover>path,
.slider-next-button:hover>path {
    fill: var(--Light-Purple);
}

.slider-prev-button {
    top: 50%;
    left: 7%;
}

.slider-next-button {
    top: 50%;
    right: 7%;
}

/* SLICK SLIDER CLASSES */
.slick-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
}

#section-6 {
    padding: 63px 0 120px 0;
}

.section-6-description,
.section-7-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 50%;
}

.section-6-card-row {
    margin-top: 43px;
    display: flex;
    justify-content: space-evenly;
}

.section-6-cards {
    width: 30%;
    border-radius: 5px;
    border: 3px solid var(--Purple, #8661C5);
    padding: 48.5px 25px 30.5px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-6-card-heading {
    color: var(--Dark-Purple, #3B2E58);
    text-align: center;
    font-family: var(--ff-segoe);
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: normal;
    margin-top: 40px;
}

#section-7 {
    background: var(--Light-Purple, #D59DFF);
    padding-top: 69px;
    padding-bottom: 85px;
}

.section-7-collage {
    margin-top: 63px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 29.052px;
}

.section-7-collage-img-container {
    width: 30%;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms;
}

.section-7-collage-img-container:hover {
    transform: scale(1.15);
}

.section-7-collage-img-container>img {
    width: 100%;
}

.section-7-subheading {
    color: var(--Dark-Purple, #3B2E58);
    text-align: center;
    font-family: var(--ff-segoe);
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: normal;
    margin-top: 81px;
}

.section-7-cards-row {
    margin-top: 68px;
    display: flex;
    justify-content: center;
    gap: 56px;
}

.section-7-cards {
    width: 30%;
    padding: 52px 51px 14px 51px;
    border-radius: 5px;
    border: 3px solid var(--Light-Grey, #FAF9FD);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms;
    cursor: pointer;
}

.section-7-card-text {
    color: var(--Dark-Purple, #3B2E58);
    text-align: center;
    font-family: var(--ff-segoe);
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: normal;
    margin-top: 33px;
    transition: all 300ms;
}

.section-7-cards:hover {
    border-color: var(--Dark-purple)
}

.section-7-cards:hover .section-7-card-text {
    color: black;
}

svg path {
    transition: all 300ms;
}

.section-7-cards:hover svg>path {
    fill: var(--Dark-purple);
}

footer {
    padding: 84px 0;
}

footer ul {
    list-style-type: none !important;
}

footer h5 {
    color: var(--T-color-normal);
    font-family: var(--ff-segoe);
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: normal;
}

footer li {
    margin-top: 14px;
}

footer li>a {
    color: var(--T-color-normal);
    font-family: var(--ff-segoe);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.023%;
    text-decoration-line: underline !important;
    transition: all 300ms;
}

footer li>a:hover {
    color: var(--Light-Purple);
}

.svg-row a:hover svg path {
    fill: var(--Purple);
}

.menu {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}

label {
    display: none;
}

.switch-label>span {
    background-color: transparent;
}

.switch-label>span::before {
    top: 0;
    transform: rotate(45deg);
}

.switch-label>span::after {
    top: 0;
    transform: rotate(-45deg);
}

.section-1-description {
    width: 50%;
}

.to-top {
    right: 16px;
    bottom: 32px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Black);
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 300ms linear;
    color: var(--Light-Grey);
    border: 1px solid var(--Light-Grey);
    z-index: 4;
}

.to-top:hover {
    border: 1px solid var(--Black);
    color: var(--Black);
    background-color: var(--Light-Grey);
}

/* MEDIA QUERIES */
@media (min-width: 1500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1480px;
    }
}

@media (min-width: 1680px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1600px;
    }
}

@media (min-width: 1980px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1920px;
    }
}

@media (max-width: 1680px) {
    .section-4-button-row {
        margin-top: 60px;
    }

    .section-4-cards {
        margin-top: 0;
        margin-left: 12px;
        margin-right: 12px;
        height: 100% !important;
        padding: 0 6px 0 6px;
    }

    .section-4-cards img {
        object-fit: cover;
    }

    .section-4-slider {
        width: 100%;
        max-height: 400px;
    }

    .section-4-slider .slick-track {
        display: flex !important;
        padding: 24px 0 24px 0;
    }

    .section-4-slider .slick-slide {
        height: inherit !important;
        display: flex !important;
    }

    .section-4-slider .slick-slide>div {
        display: flex;
    }

    h1 {
        font-size: 68px;
    }
}

@media (max-width:1400px) {
    .section-2-cards {
        width: 45%;
    }

    nav a {
        margin-right: 50px;
    }
}

@media (max-width: 1200px) {
    .slider-next-button {
        right: 5%;
    }

    .slider-prev-button {
        left: 5%;
    }

    .section-7-collage {
        width: 80%;
    }

    h1 {
        font-size: 54px;
    }

    .section-4-button-row {
        margin-top: 48px;
    }

    nav a {
        margin-right: 20px;
    }
}

@media (max-width: 992px) {
    :root {
        --fs-sm: 16px;
        --fs-md: 20.5px;
        --fs-lg: 32.16px;
    }

    .section-4-button-row {
        margin-top: 36px;
    }

    .hero-button {
        padding: 14px 36px;
        margin-top: 30px;
    }

    nav a {
        font-size: 36px !important;
    }

    .slide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .slide-left,
    .slide-right {
        width: 100%;
    }

    .slider {
        margin-top: 0;
    }

    .slide-left {
        height: 50% !important;
        padding: 40px 0 40px 0;
    }

    .slider .slick-track {
        display: flex !important;
        padding: 24px 0 24px 0;
    }

    .slider .slick-slide {
        height: inherit !important;
        display: flex !important;
    }

    .slider .slick-slide>div {
        display: flex;
    }

    .slider-on-top-container {
        padding: 25px 9px;
    }

    h1 {
        font-size: 44px;
    }

    .section-1-description,
    .section-3-description,
    .section-4-description,
    .section-6-description,
    .section-7-description {
        width: 75%;
    }

    .section-7-collage {
        width: 100%;
    }

    label {
        display: block;
        position: relative;
        height: 20px;
        width: 20px;
        float: right;
        z-index: 5;
        cursor: pointer;
    }

    label>span {
        display: block;
        position: relative;
        height: 5px;
        width: 20px;
        background-color: var(--Light-Grey);
        top: 50%;
        left: 0;
        transition: all 300ms;
        border-radius: 5px;
    }

    label>span::before {
        position: absolute;
        content: "";
        height: 5px;
        width: 20px;
        top: -8px;
        background-color: var(--Light-Grey);
        left: 0;
        transition: all 300ms;
        border-radius: 5px;
    }

    label>span::after {
        position: absolute;
        content: "";
        height: 5px;
        width: 20px;
        top: 8px;
        background-color: var(--Light-Grey);
        left: 0;
        transition: all 300ms;
        border-radius: 5px;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        right: -100%;
        background: linear-gradient(90deg, #3B2E58 0%, #8661C5 100%);
        flex-direction: column;
        justify-content: center;
    }

    .menu a {
        margin-right: 0;
        margin-top: 12px;
    }

    #hero-section {
        flex-direction: column;
    }

    .hero-img-container {
        width: 100%;
    }

    .section-7-subheading {
        margin-top: 51px;
    }

    .hero-section-on-top-container {
        padding: 87px 160px 130px 53px;
    }

    .hero-img-container.left {
        padding: 60px 0 60px 0;
    }

    .section-2-cards {
        width: 95%;
    }

    .slider-next-button,
    .slider-prev-button {
        display: none !important;
    }

    .section-4-button-row {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .section-4-buttons {
        width: 100%;
    }

    .section-6-card-row {
        justify-content: center;
        gap: 20px;
    }

    .section-6-cards {
        width: 45%;
    }

    .section-7-cards-row {
        gap: 20px;
        flex-wrap: wrap;
    }

    .section-7-cards {
        width: 45%;
    }

    #section-4,
    #section-1,
    #section-2 {
        padding-bottom: 80px;
    }

    #section-5 {
        padding-bottom: 24px;
    }
}

@media (max-width: 768px) {
    :root {
        --fs-sm: 14px;
        --fs-md: 18.5px;
        --fs-lg: 27.16px;
    }

    .hero-button {
        padding: 14px 24px;
        margin-top: 24px;
    }

    .section-7-collage-img-container {
        width: 45%;
    }

    .section-4-cards {
        width: 47%;
    }

    h1 {
        font-size: 30px;
    }

    #section-4,
    #section-5,
    #section-1,
    #section-2 {
        padding-bottom: 60px;
    }
}

@media (max-width: 576px) {
    :root {
        --fs-sm: 12px;
        --fs-md: 16.5px;
        --fs-lg: 24.16px;
    }

    .section-4-button-row {
        margin-top: 22px;
    }

    .hero-button {
        padding: 10px 16px;
    }

    h1 {
        font-size: 24px;
    }

    .section-7-collage-img-container {
        width: 100%;
    }

    .section-7-collage-img-container:hover {
        transform: scale(1);
    }

    .section-6-cards {
        width: 100%;
    }

    .section-7-cards {
        width: 100%;
    }

    .section-1-description,
    .section-3-description,
    .section-4-description,
    .section-6-description,
    .section-7-description {
        width: 100%;
    }

    #section-4,
    #section-5,
    #section-1,
    #section-2 {
        padding-bottom: 40px;
    }
}

@media (max-width: 370px) {
    :root {
        --fs-sm: 10px;
        --fs-md: 14.5px;
        --fs-lg: 20.16px;
    }

    .hero-button {
        padding: 4px 8px;
    }

    .section-4-cards {
        width: 100%;
    }

    #section-4,
    #section-5,
    #section-1,
    #section-2 {
        padding-bottom: 20px;
    }
}